<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
        <title>Casino Bank</title>
    </head>
    <body>
        <div class="container1">
            <h1>Welcome To The Bank</h1>
            <div class="balance">
                Balance: %1000
            </div>
            <a href="#" class="bun btn-block">Deposit</a>
            <a href="#" class="btn btn-block">Withdraw</a>
        </div>
    </body>
</html>