<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
        <title>Craps</title>
    </head>
    <body>
        <div class="container">
            <h1>Craps Game</h1>
            <div id="dice">
                <img src="/public/CasinoAssets/Craps/Dice1.png" alt="dice">
                <div id="result">
                    Roll the dice to start!
                </div>
                <button class="btn"Roll Dice></button>
            </div>
        </div>
    </body>
</html>