<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Casino Game Selection</title>
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
    </head>
    <body>
        <div class="container1">
            <h1>Casino Game Selection</h1>
            <div class="game-item">
                <img src="/CasinoAssets/Overall UI/ComingSoonStamp.png" alt="Slots">
                <span class="game-name">Slots</span>
                <button onclick="window.location.href='/games/slots'">Play</button>
            </div>
            <div class="game-item">
                <img src="/CasinoAssets/Overall UI/Roulette Icon.png" alt="Roulette">
                <span class="game-name">Roulette</span>
                <button onclick="window.location.href='/games/roulette'">Play</button>
            </div>
            <div class="game-item">
                <img src="/CasinoAssets/Overall UI/ComingSoonStamp.png" alt="Blackjack">
                <span class="game-name">Blackjack</span>
                <button onclick="window.location.href='/games/blackjack'">Play</button>
            </div>
            <div class="game-item">
                <img src="/CasinoAssets/Overall UI/Craps Icon.png" alt="Craps">
                <span class="game-name">Craps</span>
                <button onclick="window.location.href='/games/craps'">Play</button>
            </div>
            <div class="game-item">
                <img src="/CasinoAssets/Overall UI/ComingSoonStamp.png" alt="Poker">
                <span class="game-name">Poker</span>
                <button onclick="window.location.href='/games/poker'">Play</button>
            </div>
        </div>
        <script src="/js/script.js"></script>
    </body>
</html>